[submodule "vendor/crashpad"]
	path = vendor/crashpad
	url = git@github.com:Framatome/crashpad.git
[submodule "vendor/mini_chromium"]
	path = vendor/mini_chromium
	url = git@github.com:Framatome/mini_chromium.git
[submodule "vendor/zlib"]
	path = vendor/zlib
	url = git@github.com:Framatome/zlib.git
	ignore = dirty
	
